<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cipherpost</title>
</head>
<body>
  <% if (!user) { %>
  <h1>Cipherpost</h1>
  <h4><i>Welcome, signup or login to view posts.</i></h4>
  <a href="/sign-up"><button>Sign Up</button></a>
  <a href="/log-in"><button>Login</button></a>
  <% } else { %>
    <h3>Welcome back <%= user.name %></h3>
    <% if (!user.membershipStatus) { %>
    <p>Become a cipher by entering secret key and joining private membership</p>
    <a href="/user/join-private"><button>Join Private</button></a>
    <% } else { %>
      <p style="color: rgb(255, 204, 0);">VERIFIED CIPHER</p>
      <% } %>
      <a href="user/logout-page"><button>Logout</button></a>
    <% } %>
</body>
</html>