<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Private - Cipherpost</title>
</head>
<body>
  <h1>Join Private Club</h1>
  <p>Enter secret code to join</p>
  <form action="" method="post">
    <label for="secret">Secret Key:</label>
    <input type="text" name="passcode" required>
    <br>
    <button type="submit">Join Cipher</button>
  </form>
</body>
</html>